<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h2>What is STEMFest?</h2>
        <iframe class="youtube-player" type="text/html" height="200" src="https://www.youtube.com/embed/dE6mCn4hDwE?html5=1" frameborder="0"> </iframe>
        <p>STEMfest is a free community event that hosts a variety of activities and displays centering around Science, Technology, Engineering, and Mathematics (STEM) for students and their parents.</p>
        <h4>The goals of STEMfest are:</h4>
        <ol>
          <li>To build awareness about STEM for students (and their parents)</li>
          <li> To demonstrate to students how much fun these disciplines can be</li>
          <li>To show students how these disciplines are inherent in many of the things we do every day</li>
          <li>To have students learn about STEM career and college opportunities</li>
        </ol>
        <h4>Find us on the web!</h4>

        <div class="row">
          <div class="col-xs-4">
            <a href="http://stemfest.us" class="btn btn-info">Website</a>
          </div>
          <div class="col-xs-4">
            <a href="https://www.facebook.com/pages/Stamford-STEMfest/201557736716911" class="btn btn-info">Facebook</a>
          </div>
          <div class="col-xs-4">
            <a href="https://twitter.com/CTSTEMfest" class="btn btn-info">Twitter</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>