<div class="scrollable">
  <h1 class="scrollable-header app-name">STEMFest 2017</h1>
  <div class="list-group" ui-turn-off="uiSidebarLeft">
    <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
    <a class="list-group-item" href="#/about">About <i class="fa fa-chevron-right pull-right"></i></a>
    <a class="list-group-item" href="#/directions-parking">Directions and Parking <i class="fa fa-chevron-right pull-right"></i></a>
    <a class="list-group-item" href="mailto:swatson@stamfordct.gov">Songs Request <i class="fa fa-chevron-right pull-right"></i></a> 
    <a class="list-group-item" href="#/map">Map <i class="fa fa-chevron-right pull-right"></i></a>
    <a class="list-group-item" href="#/schedule">Schedule and Activities <i class="fa fa-chevron-right pull-right"></i></a>
    <a class="list-group-item" href="http://www.stamfordpublicschools.org/district/math/webforms/stemfest-2017-visitor-registration-saturday-may-20-rain-date-sunday-may-21">Registration <i class="fa fa-chevron-right pull-right"></i></a>         
  </div>
</div>